@model IEnumerable<MVC.Models.mvcNewModel>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_adminLayoutPage.cshtml";
}

<h2>News</h2>


<p>
    <a href="@Url.Action("AddOrEditNew", "Admin")" class="btn btn-dark"><i class="fa fa-plus"></i> Create New</a>
</p>
<div class="card mb-4">
    <div class="card-header">
        <svg class="svg-inline--fa fa-table fa-w-16 me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64v-96h160v96zm0-160H64v-96h160v96zm224 160H288v-96h160v96zm0-160H288v-96h160v96z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
        DataTable Example
    </div>
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-top"><div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div><div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container">
                <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                        <tr>
                            <th data-sortable="" style="width: 10.5925%;"><a href="#" class="dataTable-sorter">@Html.DisplayNameFor(Model => Model.NAME)</a></th>
                            <th data-sortable="" style="width: 20.9969%;"><a href="#" class="dataTable-sorter">@Html.DisplayNameFor(Model => Model.DESCRIPTION)</a></th>
                            <th data-sortable="" style="width: 20.9969%;"><a href="#" class="dataTable-sorter">@Html.DisplayNameFor(Model => Model.DETAIL)</a></th>
                            <th data-sortable="" style="width: 10.9969%;"><a href="#" class="dataTable-sorter">@Html.DisplayNameFor(Model => Model.USER_ID)</a></th>
                            <th data-sortable="" style="width: 15.5956%;"><a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.CATEGORY_ID)</a></th>
                            <th data-sortable="" style="width: 9.16928%;"><a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.DATE)</a></th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DETAIL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.USER_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CATEGORY_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATE)
                                </td>

                                <td>
                                    <a href="@Url.Action("AddOrEditNew" , "Admin")" class="btn btn-light"> Edit</a>

                                </td>
                                <td>
                                    <a class="btn btn-danger" onclick="Delete(@item.ID)">
                                        <i class="fa fa-trash"></i>
                                        Delete
                                    </a>

                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div><div class="dataTable-bottom"><div class="dataTable-info">Showing 1 to 10 of 57 entries</div><nav class="dataTable-pagination"><ul class="dataTable-pagination-list"><li class="active"><a href="#" data-page="1">1</a></li><li class=""><a href="#" data-page="2">2</a></li><li class=""><a href="#" data-page="3">3</a></li><li class=""><a href="#" data-page="4">4</a></li><li class=""><a href="#" data-page="5">5</a></li><li class=""><a href="#" data-page="6">6</a></li><li class="pager"><a href="#" data-page="2">›</a></li></ul></nav></div>
        </div>
    </div>
</div>
@section script{
    <script>
         $(function () {
            var successMassage = '@TempData["SuccessMessage"]';
            if(successMassage != '')
            alertify.success(successMassage);

        });
        function Delete(id) {
            alertify.confirm("web api CRUP operation", "Are you sure delete this record?", function () {
                window.location.href='@Url.Action("DeleteNew","Admin")/' + id;
            }, null
            );
        }
    </script>
}